.tri-banner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .first-col, .second-col, .third-col {
    padding: 0;
    margin-bottom: 10px;
  }

  .image-text__container {
    .link {
      &:after {
        content: none;
      }
    }

    .inner {
      h2 {
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;

    .first-col, .second-col, .third-col {
      width: 31.5%;
      margin-bottom: 0;
    }
  }
}
