<div class="page__container">
  
  <h1 class="text-center text-uppercase">{{ page.title }}</h1>
  
  <div class="rte">
    
    <div class="front-line-container">
    
      <div class="front-line-img">
      
        <img src="https://cdn.shopify.com/s/files/1/0744/4099/files/koral-front-line.jpg?v=1586893541">
      
      </div>
      
      <div class="front-line-form" style="margin: 5% 0;">
      
        <div style="margin:0 auto;" class="pxFormGenerator" id="P3doGpYoOP8fX55KuYmu8g"></div>		
      
      </div>
    
    </div>
  </div>
</div>

<style>
  
  .front-line-container {
    width: 100%;
    max-width: 1300px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
  }
  .front-line-container > div {
    width: 50%;
  }
  
  @media screen and (max-width: 767px) {
  
    .front-line-container {}
    .front-line-container > div {
      width: 100%;
    }
  
  }
  
</style>
