<div class="page__container" style="max-width: 1000px;margin:0 auto;">
  {% comment %} <h1 class="text-center text-uppercase">{{ page.title }}</h1> {% endcomment %}
  {% section 'founder-note' %}
</div>
