{% assign poster_video = product.metafields.poster_video.poster_video %}
{% assign product_video = product.metafields.product_video.product_video %}
{% assign product_video_yt_vimeo = product.metafields.accentuate.product_video_yt_vimeo %}

<div class="product__images d-flex flex-column">
  <div class="product-carousel-images">
    <span class="product-badge" v-if="getBadge" :style="{color: getBadge.color}" v-text="getBadge.text"></span>
    <div class="slider-wrap-pdp">
      <div class="slider_item" v-for="image in product.images_info">
         <div class="slider_img_wrap">
            <responsive-img :src="image.src" :size="'3000x'" v-bind:zoom-feature="true" :zoom="{url: image.src, magnify: .50}"/>
         </div>
      </div>
      {% if product_video != blank %}
      <div class="slider_item" >
        <video class="product-video" controls autoplay muted loop playsinline >
          <source src="{{ product_video }}" type="video/mp4">
        </video>
      </div>
      {% elsif product_video_yt_vimeo != blank %}
      <div class="slider_item" >
        <div style="position: relative; width: 100%;height: 0;padding-bottom: 133%;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{ product_video_yt_vimeo }}?rel=0&autoplay=1&muted=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="product-thumbnail-images d-md-flex flex-column">
    <div class="sticky-container thumb-slider">
      <div class="thumbnail d-none d-md-flex" v-for="image in product.images_info">
        <responsive-img :src="image.src" :size="'500x'"/>
      </div>
      {% if poster_video != blank %}
      <div id="poster-video" class="thumbnail" @click="onclickPlayVideo" @click.prevent="scrollToImage(product.images_info.length)">
        <div class="responsive-img">
          <img src="{{ poster_video }}" />
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
