<div class="tri-banner">
  <div class="tri-banner__container {{container}}">
    <div class="first-col">
      {{ leftcol_content }}
    </div>
    <div class="second-col">
      {{ centercol_content}}
    </div>
    <div class="third-col">
      {{ rightcol_content}}
    </div>
  </div>
</div>
