<section class="nosto-dynamic-container">
	<div class="nosto_element" id="{{ section.settings.nosto_cont_id }}"></div>
</section>

{% schema %}
  {
    "name": "Nosto Container",
    "settings": [
    	{
      	"id": "nosto_cont_id",
      	"type": "text",
      	"label": "ID Name"
    	}
	],
    "presets": [
    	{
      	"name": "Nosto",
      	"category": "Recommendations"
    	}
    ]
  }
{% endschema %}
